.step-solver {
  margin-left: auto;
  width: 20%;
  background-color: rgb(255, 255, 255);
  //   display: flex;
  align-items: center;
  height: calc(100vh - 7.5rem);
  border: 1px solid;

  .head {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    align-items: center;
    background-color: #777;
    color: #fff;

    .power {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }

  .result {
    height: 67rem;
    overflow: auto;
    flex-grow: 1;
    overflow: auto;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 2rem;
    align-items: center;
    & > input {
      padding: 0.5rem 0.5rem;
    }
    & > button {
      margin-top: 1rem;
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
      margin-left: auto;
      //   float: right;
      //   align-self: end;
    }
  }
}
