.live-page {
  width: 100%;
  position: absolute;
  min-height: calc(100vh - 7.5rem);
  display: flex;
  .grid-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    .control-bar {
      position: fixed;
      bottom: 5rem;
      // height: 3rem;
      padding: 1rem;
      width: 50%;
      background-color: white;
      box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.582);
      display: flex;
      justify-content: space-evenly;
      button {
        font-size: 4rem;
        background-color: transparent;
        border: none;
        outline: none;
        color: rgb(85, 85, 85);
      }
    }
    #video-grid {
      // background-color: #aaa;
      width: 90%;
      min-height: 40rem;
      object-fit: cover;
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
      align-items: center;
      justify-content: center;
      border-radius: 2rem;
      box-shadow: 0.5rem 0.5rem 5rem #000;
      & > * {
        width: 40rem;
        height: 25rem;
        object-fit: cover;
        border: 2px solid #f57e02;
      }
    }
  }
}

.hide {
  display: none;
}
